:root {
    /* Standarize Sizes */
    font-size: 10px;

    /* Color Scheme */
    --bg-color: #373A40;
    --hg-color: #686D76;
    --hero-color: #DC5F00;
    --font-color: #EEEEEE;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    scrollbar-width: none;
}
ul, a{
    list-style: none;
    color: var(--font-color);
    text-decoration: none;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
    font-size: 1.6rem;
    height: 100vh;
    padding: 0 2.5vw;
    overflow: visible;

    /* grid set-up */
    display: grid;
    grid-template:
    "profile navbar" 4vh
    "profile main" 90vh
    / minmax(150px, 250px) minmax(250px, 750px)
    ;
    gap: 10px 15px;
    place-content: center;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

/* navbar */
nav {
    grid-area: navbar;
    /* border-bottom: 1.5px solid var(--hg-color); */
    box-shadow: 0 .5vh .5vh -.2vh var(--hg-color);
}
.navbar {
    display: flex;
    justify-content: space-around;
}

/* profile */
.profile {
    grid-area: profile;
    background-color: var(--hg-color);
    justify-items: end;
    max-width: 250px;
}
/* main content */
.page {
    grid-area: main;
    overflow-y: auto;
}

/* mobile */
@media (max-width: 500px) {
    body {
        height: auto;
        overflow: unset;
        grid-template: 
        "navbar" 4vh
        "profile" 90vh
        "main"
        / 1fr
        ; 
        gap: 5px;
        padding: 2.5vh 2.5vw;
    }
    .profile, nav{
        min-width: 100%;
    }
    nav {
        position: fixed;
        padding: 1.25vh 0;
        top: 0;
        left: 0;
        background-color: var(--bg-color);
    }
}

