:root {
    /* Standarize Sizes */
    font-size: 10px;

    /* Color Scheme */
    --bg-color: #373A40;
    --hg-color: #686D76;
    --hero-color: #DC5F00;
    --font-color: #EEEEEE;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    scrollbar-width: none;
}
ul, a{
    list-style: none;
    color: var(--font-color);
    text-decoration: none;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
    font-size: 1.6rem;
    height: 100vh;
    padding: 0 2.5vw;
    overflow: visible;

    /* grid set-up */
    display: grid;
    grid-template:
    "profile navbar" 4vh
    "profile main" 90vh
    / minmax(150px, 250px) minmax(250px, 750px)
    ;
    gap: 10px 15px;
    place-content: center;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

/* navbar */
nav {
    grid-area: navbar;
    /* border-bottom: 1.5px solid var(--hero-color); */
    box-shadow: 0 0.5vh 1.5vh -.65vh var(--hero-color);
}
.navbar {
    display: flex;
    justify-content: space-around;
}

/* profile */
.profile {
    grid-area: profile;
    background-color: var(--hg-color);
    justify-items: end;
    max-width: 250px;
    border-radius: 10px;
    box-shadow: -1vw .5vh 20px -10px var(--hero-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
.profile img {
    height: 50%;
    object-fit: cover;
}

.profile h3 {
    font-size: 2rem;
}
.profile > ul{
    display: flex;
    gap: 10px;
    font-size: 1.2rem;
}
.profile > ul > li {
    width: 80px;
    text-align: center;
    padding: 5px;
    border-radius: 15px;
    background-color: var(--hero-color);
}
.profile li:hover{
    color: var(--bg-color);
    box-shadow: 0 0 2px 2px var(--bg-color);
}
.profile > ul > li > a{
    display: inherit;
}

/* main content */
.page {
    grid-area: main;
    overflow-y: auto;
}

#home {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}
h1.hero {
    font-size: 10vw;
    border-top-left-radius: 20px 10px var(--hero-color);
}
h1.hero span {
    color: var(--hero-color);
}
.subtitle, .emphasis {
    font-size: 2rem;
}
.subtitle span {
    text-decoration: underline solid var(--hero-color);
}
.subtitle{
    font-style: oblique;
    font-weight: bold;
}.emphasis{
    font-style:oblique;
}

.content-title {
    font-size: 2rem;
    margin-bottom: 10px;
    border-bottom: 2px solid ;
}

section {
    padding: 15px;
}
section.gallery h2 {
    display: block;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px
}

#experience .gallery {
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: stretch;
    width: 100%;
}
#experience .card {
    max-width: none;
}

/* cards */
.card {
    background-color: var(--hg-color);
    border-radius: 15px;
    padding: 10px;
    /* min-width: 350px; */
    width: 100%;
    max-width: 350px;
    height: 250px;
    margin: 0 auto;
}

#projects .card img {
    height: 60%;
}

#certifications .card img {
    height: 85%;
    width: 100%;
    object-fit: contain;
}#certifications .card h4 {
    margin-top: 8px;
    text-align: center;
}

.card h4 {
    font-size: 1.6rem;
}
.card h5 {
    font-size: 1.4rem;
}
.card p, .card ul{
    font-size: 1.2rem;
}

/* tags */
.tags {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 2px;
    /* justify-content: end; */
    margin-right: 5px;
}
.tag {
    color: var(--bg-color);
    padding: 0 2px;
    border-radius: 5px;
    width: max-content;
    height: min-content;
}
.py {
    background-color: rgb(190, 190, 35);
}
.spark {
    background-color: rgb(42, 175, 175);
}
.ml {
    background-color: rgb(42, 222, 162);
}

/* mobile */
@media (max-width: 500px) {
    .page {
        overflow-y: unset;
    }
    body {
        height: auto;
        overflow: unset;
        grid-template: 
        "navbar" 4vh
        "profile" 90vh
        "main" 90vh
        / 1fr
        ; 
        gap: 5px;
        padding: 2.5vh 2.5vw;
    }
    .profile, nav{
        min-width: 100%;
    }
    nav {
        position: fixed;
        padding: 1.25vh 0;
        top: 0;
        left: 0;
        background-color: var(--bg-color);
    }
}

