:root {
    /* Standarize Sizes */
    font-size: 10px;

    /* Color Scheme */
    --bg-color: #373A40;
    --hg-color: #686D76;
    --hero-color: #DC5F00;
    --font-color: #EEEEEE;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    scrollbar-width: none;
}
ul, a{
    list-style: none;
    color: var(--font-color);
    text-decoration: none;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
    font-size: 1.6rem;
    height: 100vh;
    padding: 0 2.5vw;
    overflow: hidden;

    /* grid set-up */
    display: grid;
    grid-template:
    "profile navbar" 2.5vh
    "profile main" 90vh
    / minmax(150px, 250px) minmax(250px, 750px)
    ;
    gap: 15px;
    place-content: center;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

/* navbar */
nav {
    grid-area: navbar;
}
.navbar {
    display: flex;
    justify-content: space-around;
}

/* profile */
.profile {
    grid-area: profile;
    background-color: #686D76;
    justify-items: end;
    max-width: 250px;
    border: 1px solid red;
}
/* main content */
.page {
    grid-area: main;
    overflow-y: scroll;
}

